*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  body{
  background-color: #1ea8b5;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-family: "Kumbh Sans", sans-serif;
  background-image: url("images/bg-pattern-top.svg"),url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat,no-repeat;
  background-position: right 50vw bottom 50vh,left 50vw top 50vh;
 
 
  
 }
  .main{
    max-width: 350px;
    height: 375px;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 12.5%; 
    overflow:hidden;
    background-color: white;
    border-radius: 10px;
  }
    .victor{
      width: 31%;
      margin: 0 auto;
      position: relative;
      border-radius: 50%;
      margin-top: -17%;
      background-color: white;  
    }
    .victor img{
      border-radius: 50%;
      margin-top: 3%;
      margin-left: 5%;
    }
    .nombre{
      border-bottom: 1px solid #76777c;
     height: 30%;
      text-align: center;
      padding-top: 8%;
      
     
     
    }
    .nombre h1{
      display: inline;
      font-size: 18px;
      margin-top: -18%;
      margin-right: 5%;
    
      
    }
    .nombre h3{
      display: inline;
      font-size: 18px;
      color: #76777c;
    }
    .nombre h2{
      margin-top: 1%;
      color: #76777c;
      padding-bottom: 2%;
      
    }
    .datos{
      display: flex;
      margin-top: 5%;
      
      
    }
    .datos h3{
      font-size: 18px;
    }
    .datos h3,h4{
      margin-left:50px;
      padding: 2%;
    }
    h4{
      color: #76777c;
      font-size: 12px;
    }
    .followers h4{
      margin-left: 45%;
    }
    .like h4{
      text-align: center;
    }
 
    
    .attribution { font-size: 11px; text-align: center;margin: 5%;}
    .attribution a { color: hsl(228, 45%, 44%); }


    /*movil*/
  